<div class="row">
  <div class="col-md-12">

<div class="homeIntro">
		<b>About Me!</b> <br/>
		<div class="moreintro">
				<p>I am based in Hyderabad (India).  I have a passion for creating beautiful, intuitive, and highly crafted solutions combining a considered approach with emerging technologies. I have wide ranging experience in design from web and mobile design to large scale interactive.</p>
			
		</div>
			
		<div class="row box">
		  <div class="col-md-12">
		   <b class="uxskills">UI / UX Skills</b>
		  </div>
		</div>	
		 <div class="row">
		   <div class="col-md-4">
		      <span class="name">HTML 5 -- 85% </span>
		     <div class="progress">
                <div class="progress-bar" style="width: 85%;"></div>
              </div>
		   </div>
		   
		   <div class="col-md-4">
		   <span class="name">CSS 3 -- 70%  </span>
		      <div class="progress">
                <div class="progress-bar" style="width: 90%;"></div>
              </div>
		   </div>
		   
		   <div class="col-md-4">
		     <span class="name">OOJS -- 70% </span> 
		      <div class="progress">
                <div class="progress-bar" style="width: 70%;"></div>
              </div>
		   </div>
		   
		 </div>
		
		<div class="row">
		   <div class="col-md-4">
		     <span class="name">Jquery 1.11v-- 85% </span> 
		     <div class="progress">
                <div class="progress-bar" style="width: 85%;"></div>
              </div>
		   </div>
		   
		   <div class="col-md-4">
		   <span class="name">AngularJS 1.3v-- 60% </span>
		      <div class="progress">
                <div class="progress-bar" style="width: 60%;"></div>
              </div>
		   </div>
		   
		   <div class="col-md-4">
		     <span class="name">Photoshop CS6-- 70% </span> 
		      <div class="progress">
                <div class="progress-bar" style="width: 70%;"></div>
              </div>
		   </div>
		   
		   <div class="col-md-4">
		     <span class="name">Twitter Bootstrap 3.0v-- 60% </span> 
		      <div class="progress">
                <div class="progress-bar" style="width: 60%;"></div>
              </div>
		   </div>
		   
		    <div class="col-md-4">
		     <span class="name">Modernizr -- 60% </span> 
		      <div class="progress">
                <div class="progress-bar" style="width: 60%;"></div>
              </div>
		   </div>
		   
		   <div class="col-md-4">
		     <span class="name">RWD -- 50% </span> 
		      <div class="progress">
                <div class="progress-bar" style="width: 50%;"></div>
              </div>
		   </div>
		 </div>
</div>
</div>
</div>