<div class="row">
  <div class="col-md-12">

<div class="homeIntro">
				<b>Say Hello!</b> 
		<div class="row">
		  <div class="col-md-3 box">
			<div class="thumbnail">
			<div class="text-center"><i class="mdi-action-perm-phone-msg contact_icon "></i></div>
			  <div class="caption">
				<p class="text-center">+91 9160197794</p>
				<p class="text-center">Simply SMS</p>
			  </div>
			</div>
		  </div>
		   <div class="col-md-3 box">
			<div class="thumbnail">
			<div class="text-center"><i class="mdi-communication-email contact_icon "></i></div>
			  <div class="caption">
				<p class="text-center">nirupam0007 @gmail.com</p>
				<p class="text-center">Any time!</p>
			  </div>
			</div>
		  </div>
		   <div class="col-md-3 box">
			<div class="thumbnail">
			<div class="text-center"><i class="fa fa-skype contact_icon"></i></div>
			  <div class="caption">
				<p class="text-center">nirupam.burman</p>
				<p class="text-center">We can chat</p>
			  </div>
			</div>
		  </div>
		   <div class="col-md-3 box">
			<div class="thumbnail">
			<div class="text-center"><i class="fa fa-facebook-official contact_icon "></i></div>
			  <div class="caption">
				<p class="text-center"><a href="https://www.facebook.com/nirupam.burman" target="_blank">Send me friend request</a></p>
				<p class="text-center">Anytime!</p>
			  </div>
			</div>
		  </div>
		</div>
</div>
</div>
</div>