<div class="row">
  <div class="col-md-12">
<div class="homeIntro">
				<b>Hello,</b> I'm Nirupam.<br/> <p class="small-scr">A Front-end Designer & Developer;</p>
				
			<div class="moreintro">
				<p>Living my dream for the past 8 years. Designing user-friendly websites and Interfaces from low fidelity to high fidelity mockups . That attract eyes with beauty and performance. For brands no less ordinary.</p>
				<p>I love to ride my bike and surf the net. I am curious by nature.</p>
				<p>When i am not working i spend time with my family.</p>
				
				<a href="http://in.linkedin.com/pub/nirupam-burman/14/b37/b36/en" target="_blank" alt="LinkedIn Profile" title="Click to visit my Linkedin Profile"><i class="fa fa-linkedin"></i></a>
			</div>
</div>
</div>
</div>