<div class="homeIntro">
			
		<div class="row">
            <div class="col-md-12 box">
			<a  href="#/Projects"><i class="mdi-navigation-arrow-back"></i></a>
			</div>
			   <div class="col-md-12 box">
					<div class="thumbnail">
					  <div class="caption">
						<h5>{{project.ProjectTitle}} #{{project.id}}</h5>
						<p>Project Url : <a href="{{project.ProjectUrl}}" target="_blank">{{project.ProjectUrl}}</a></p>
						<p>Project Description :{{project.LongDesc}}</p>
						<p>Last Updated : {{project.LastUpdate}}</p>
					  </div>
					</div>
				  </div>
			</div>
        </div>
		
		

	 
	 


